table.center {
    margin-left:auto; 
    margin-right:auto;
  }
td {
    padding: 10px;
    border: 1px solid white;
    }
    table {
        padding-bottom: 10px;
    }
    body {
        background-color:black;
        color:white;
        text-align:center;
    }
    button{
        margin-bottom: 15px;
    }
    html{
         white-space: nowrap;
                position:fixed;
                top:0;
                bottom:0;
                left:0;
                right:0;
    
                text-align: center;
    }
    #span1, #span2 {
        font-family: 'Righteous', cursive;
    }
    
    h2 {
        margin:0;
        padding:0;
        font-family: 'Courgette', cursive;
    }
    
    h3, button {
        font-family: 'Noto Sans TC', sans-serif;
    }
    button{
        font-size: 20px;
        background-color: black;
        border-color: white;
        border-width: 2px;
        color: white;
        padding: 10px;
        font-family: 'Righteous', cursive;
    }
    
