td {
padding: 10px;
border: 1px solid white;
}
table {
    padding-bottom: 10px;
}
body {
    background-color:black;
    color:white;
}
button{
    margin-bottom: 15px;
}
html{
     white-space: nowrap;
}
#span1, #span2 {
    font-family: 'Righteous', cursive;
}

h2 {
    margin:0;
    padding:0;
    font-family: 'Courgette', cursive;
}

h3, button {
    font-family: 'Noto Sans TC', sans-serif;
}
